@import url("/fonts/FantasqueSansMono/FantasqueSansMono-Regular-decl.css");

body, html {
    background-color: #454871;
    height: 95%;
    font-family: "Fantasque Sans Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 450px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
}

.index-main {
    display: flex;
    justify-content: center;
    place-items: center;
    color: #454871;
    padding: 20px;
    height: 150px;
}

.selfie {
    width: 150px;
    border-radius: 150px;
    margin-right: 50px;
}

.social {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.socialImage:hover {
    fill: darkgreen;
}

.socialImage {
    cursor: pointer;
    fill: #454871;
}

.skills {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 15px;
    place-items: center;
    color: #454871;
}

.horizontal-line {
    border: 1px solid #454871;
}

.links {
    display: block;
    color: #454871;
}

summary {
    font-size: 1.2em;
    padding: 10px;
}

summary:hover {
    cursor: pointer;
    border: 1px solid #454871;

}


*:focus {
    outline: 1px solid #454871;
}

details[open] > summary {
    transition: background-color 0.5s;
    background-color: #454871;
    color: white;
}

details[open] summary ~ * {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 500ms;
    animation-delay: 0ms;
}

@keyframes invisiblyGrowFontSize {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 1em;
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

details > div {
    border: 1px solid #454871;
    padding: 10px;
    margin: auto;
}

.sectionHeading {
    display: flex;
    place-items: center;
}

.sectionHeading > svg {
    fill: #454871;
    margin-left: 20px;

}

.content {
    padding: 20px;
}
